name: BuildAndDeploy-stg
on:
  push:
    branches: [stg]
    paths-ignore:
      - "website/**"
      - "infra/**"

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: caesarlynch/booth-cc:stg

      - name: Remote SSH Commands
        uses: fifsky/ssh-action@v0.0.6
        with:
          command: |
            sudo docker compose -f ${{ vars.STG_BOOTH_SSH_FILEPATH }} pull
            sudo docker compose -f ${{ vars.STG_BOOTH_SSH_FILEPATH }} up -d
            sudo docker image prune -f
          host: ${{ vars.STG_BOOTH_SSH_HOST }}
          user: ${{ vars.STG_BOOTH_SSH_USER }}
          key: ${{ secrets.STG_BOOTH_SSH_PRIVATE_KEY }}
